* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(images/conny-schneider-pREq0ns_p_E-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.chat-container {
  width: 100%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  overflow: auto;
  background: transparent;
}

.prompt-area {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
}

.user-chat-box img:not(.chooseimg),
.ai-chat-box img:not(.chooseimg) {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(2px 2px 10px black);
}

.user-chat-box {
  width: 60%;
  position: relative;
  left: 40%;
}
.user-chat-area {
  width: 90%;
  padding: 20px;
  background-color: black;
  color: rgba(255, 255, 255, 0.736);
  border-radius: 40px 0px 40px 40px;
  box-shadow: 2px 2px 10px black;
}
.ai-chat-box {
  width: 60%;
}
.ai-chat-area {
  width: 90%;
  padding: 20px;
  background-color: rgba(57, 56, 56, 0.63);
  color: rgba(255, 255, 255, 0.738);
  position: relative;
  left: 10%;
  border-radius: 0px 40px 40px 40px;
  box-shadow: 2px 2px 10px black;
}
#userImage {
  position: absolute;
  right: 0;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 10px black);
}

#aiImage {
  position: relative;
  left: 0;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 10px black);
}

.prompt-area input {
  width: 50%;
  height: 50px;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 20px;
  color: white;
  font-size: 20px;
  box-shadow: 2px 2px 10px black;
}
.prompt-area button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: none;
  box-shadow: 2px 2px 10px black;
  cursor: pointer;
  transition: all 0.5s;
}
.prompt-area button:hover {
  background-color: rgba(81, 81, 81, 0.453);
}
.load {
  color: rgba(230, 17, 17, 0.437);
  filter: drop-shadow(2px 2px 10px black);
}

.chooseimg {
  width: 50%;
  display: block;
  border-radius: 10px;
}
.choose {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#image {
  display: flex;
  align-items: center;
  justify-content: center;
}
